#imprimir{
  display: none;
}

@media print{

  div#noImprimir {
    display: none;
  }

  #imprimir{
    display: block;
  }

  #imprimir header {
    display: none;
  }

  #imprimir footer {
    display: none;
  }

  #imprimir table tr td {
    text-align: center;
    font-size: 0.9em;
  }

  #imprimir #datosFactura div.col-lg-4.col-md-4.col-sm-4.col-xs-12 {
    width: 33%;
    font-size: 0.9em;
  }

  #imprimir #datosFactura div.col-lg-4.col-md-4.col-sm-4.col-xs-12 .form-group label {
    margin-right: 5px;
  }

  #imprimir #datosCliente div.col-lg-3.col-md-3.col-sm-6.col-xs-12 {
    width: 25%;
    font-size: 0.9em;
  }

  #imprimir #datosCliente div.col-lg-3.col-md-3.col-sm-6.col-xs-12 .from-group label {
    margin-right: 5px;
  }

  #imprimir #totales div.col-lg-2.col-lg-offset-10.col-md-4.col-md-offset-8.col-sm-4.col-xs-4 {
    width: 25%;
    float: right;
    text-align: right;
  }

}
a{
  cursor: pointer;
}

/deep/ .dx-command-edit .dx-link {
  text-decoration: none;
  font-size: 18px;
  margin: 0 3px;
}
/deep/ .dx-command-edit .dx-link:hover {
   opacity: 0.8;
}
/deep/ #select-position {
  display: inline-block;
  vertical-align: middle;
}
/deep/ .select-position span {
  vertical-align: middle;
  margin-right: 10px;
}

/deep/ .dx-datagrid .dx-row-lines > td {
  border-bottom: 1px solid #5bc0de;
}

/deep/ .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border-bottom: 1px solid #5bc0de;
}

dx-text-box {
  text-align: center;
  border-color: #269abc;
}

dx-text-box.form-control.default {
  border: 1px solid #ddd;
}

/deep/ .dx-invalid.dx-texteditor {
  border-color: rgba(217, 83, 79, 0.4);
}

dx-button.btn.btn-info.pull-right.dx-button.dx-button-info.dx-widget.dx-button-has-text {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

/deep/ dx-button.btn.btn-info.pull-right.dx-button.dx-button-info.dx-widget.dx-button-has-text
  div.dx-button-content i.dx-icon {
    color: #fff;
}

/deep/ dx-select-box div.dx-dropdowneditor-input-wrapper.dx-selectbox-container
  div.dx-texteditor-container input {
    background-color: #eee;
    opacity: 1;
  }

/deep/ .dx-scrollview-content {
  background-color: #eee;
  opacity: 1;
}
