<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Datos de la empresa</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-14" id="VerForm" style="display: block;">
                            <form name="frmSucursal" id="frmSucursal" (submit)="guardar()">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                                        <div class="form-group">
                                            <label>Nombre Comercial: 
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                name="nombre_comercial">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Nombre comercial es requerido"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                                        <div class="form-group">
                                            <label>Nombre Legal: 
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                name="nombre_legal">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Nombre legal es requerido"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                                        <div class="form-group">
                                            <label>Correo Electrónico: 
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                mode="email"
                                                name="email">
                                                <dx-validator>
                                                    <dxi-validation-rule type="email"></dxi-validation-rule>
                                                    <dxi-validation-rule type="required" message="Correo electrónico es requerido"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
    
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                                        <div class="form-group">
                                            <label>RUC: 
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                mode="number"
                                                name="ruc">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="RUC es requerido"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                                        <div class="form-group">
                                            <label>Dirección: 
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                    name="email">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Dirección es requerida"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                                        <div class="form-group">
                                            <label>Teléfono Convencional: 
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                    mask="(X0) 000-0000"
                                                    [maskRules]="phoneRules"
                                                    maskInvalidMessage="No cumple con el formato telefónico convencional"
                                                    [useMaskedValue]="true"
                                                    name="telefono">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Teléfono convencional es requerido"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                                        <div class="form-group">
                                            <label>Teléfono Celular: 
                                                <span class="required">*</span>
                                            </label>
                                            <dx-text-box class="form-control"
                                                    mask="(X00) 000-0000"
                                                    [maskRules]="phoneRules"
                                                    maskInvalidMessage="No cumple con el formato telefónico celular"
                                                    [useMaskedValue]="true"
                                                    name="celular">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Teléfono celular es requerido"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
                                    <dx-button 
                                        text="Guardar"
                                        icon="save" 
                                        type="success" 
                                        [useSubmitBehavior]="true" 
                                        class="btn btn-success pull-right">
                                    </dx-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>